nav > span {
    display: inline;
}
nav > span, nav > a {
    display: inline;
    float: left;
}

fieldset {
    display: inline;
}

.input-group, #error {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
fieldset h1 {
    text-align: center;
}

input[type=button] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type=button], button {
    background-color: #007463;
    border: none;
    color: white;
    padding: 9px 28px;
    text-align: center;
    text-decoration: none;
}

button:disabled {
    background-color: #c0564b;
    cursor: not-allowed;
    pointer-events: all !important;
  
}

input[type=button]:enabled:active, button:enabled:active {
    background-color: #089d41;

    transform: translateY(4px);
}

body {
    margin: 0;
    background-color: #ffefca;
}

form  h1, form  label {
    color: #4d4637;
}


#navigation {
    overflow: hidden;
    background-color: #007463;
}

#navigation a, #navigation span {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navigation a.active {
    background-color: #F5C52C;
    color: rgb(17, 16, 16);
}

#navigation a:hover {
    background-color: #b3bc1e;
    color: #f2f2f2;
}

#error {
    display: none;
    background-color: #c0564b;
    color: #f2f2f2;
}

main {
    display: block;
    margin: 8px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #089d41;
    border-collapse: collapse;
}

td, th {
    text-align: center;
    padding: 10px;
    border: 2px solid #089d41;

  }
  th {
    vertical-align: bottom;
  }

main {
    display: block;
    height: 90%;
}